ul {
    list-style-type: none;
    margin: 1px;
    padding: 2px;
    overflow: hidden;
    background-color: #109;
}

li {
    float: left;
}

li a {
display: block; 
color: beige;
text-align: end;
padding: 15px 100px;
text-decoration: none;
}

li a:hover {
    background-color: #099;
}
