ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #109;
}

li {
    float: left;
}

li a {
display: block; 
color: beige;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

li a:hover {
    background-color: #099;
}
body {margin: 0;}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #109;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: beige;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #099;}
    
ul.topnav li a.active {background-color: #4CAF50;}
    ul.topnav li.right {
        float: right;
      }
      
      @media screen and (max-width: 600px)
      {
        ul.topnav li.right, 
        ul.topnav li {
          float: none;
        }
      }